<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO app</title>
    <style>
        .error{
            display: none;
        }
        ul{
            list-style: none;
            margin: 0;
            padding: 0;
        }
        li {
        clear: both;
        width: 300px;
        margin-bottom: 1em;
      }
      li button {
        -webkit-appearance: none;
        border: none;
        outline: none;
        color: red;
        float: right;
        cursor: pointer;
        font-size: 20px;
      }
      .lists-wrapper, .todos-wrapper {
        display: inline-block;
        vertical-align: top;
      }
      .lists-wrapper,.todos-wrapper {
        display: inline-block;
        vertical-align: top;
      }
    </style>
</head>
<body>
    <div class="lists-wrapper">
        <h4>TODO Lists</h4>
        <form action="" id="list-form">
            <label for="list">Create list: </label>
            <input type="text" name="list" id="list-name">
            <input type="submit" value="Create List" >
        </form>
        <br>
            <ul id="lists">
                {% for list in lists %}
                <li>
                    <a href="/lists/{{list.id}}">{{list.name}}</a>
                    <button class="deletelist" data-id="{{list.id}}">&cross;</button>
                </li>
                {% endfor %}
            </ul>
    </div>
    <div class="todos-wrapper">
        <h4>TODO items</h4>
        <form id="form" >
            <label for="description">Create Task: </label>
            <input  type="text" name="description" id="description" placeholder="Enter Description">
            <input type="submit" value="Create Todo" /><br>
        </form>
        <h4>{{active_list.name}}</h4>
            <p class="error" id="error">something went wrong!</p>
            <ul id="todos">
            {% for todo in todos%}
            <li> <input class='check-completed' data-id="{{todo.id}}" type="checkbox"{% if todo.completed %} checked {% endif %}/> {{todo.description }} <button class="delete" data-id="{{todo.id}}">&cross;</button></li>
            {% endfor %}
            </ul>
    </div>

    <script>
        const checkBoxes = document.querySelectorAll('.check-completed')
        for(let i = 0;i < checkBoxes.length;i++){
            const checkBox=checkBoxes[i]
            checkBox.onchange = function(e) {
                const newCompletedState = e.target.checked
                const todoId=e.target.dataset.id
                fetch(`/todos/${todoId}/set-completed`,{
                    method:'POST',
                    body: JSON.stringify({
                        completed: newCompletedState
                    }),
                    headers: {
                        "content-type": "application/json"
                    }
                })
                .catch(e => {
                    document.getElementById('error').className = ''
                })
            }
        }

        const deleteButtons = document.querySelectorAll('.delete')
        for(let i = 0;i < deleteButtons.length;i++){
            const deleteButton=deleteButtons[i]
            deleteButton.addEventListener('click', (e) =>{
                e.preventDefault()
                const todoId=e.target.dataset.id
                fetch(`/todos/${todoId}/delete-todo`,{
                    method:'DELETE'
                })
                .catch(e => {
                    document.getElementById('error').className = ''
                })
            })
            }



        document.getElementById('form').onsubmit = function(e){
            e.preventDefault();
            fetch('/todos/create', {
                method:'POST',
                body: JSON.stringify({
                    "description": document.getElementById('description').value
                }),
                headers:{
                    'Content-Type': 'application/json'
                }
            }).then(response => response.json())
            .then(res => {
                console.log(res)
                const li = document.createElement('li');
                li.innerHTML = res['description'];
                document.getElementById('todos').appendChild(li)
            
            })
            .catch(e => {
                document.getElementById('error').className=''
            })
        }
        
        document.getElementById('list-form').onsubmit = function(e){
            e.preventDefault();
            fetch('/lists/create', {
                method:'POST',
                body: JSON.stringify({
                    "name": document.getElementById('list-name').value
                }),
                headers:{
                    'Content-Type': 'application/json'
                }
            }).then(response => response.json())
            .then(res => {
                console.log(res)
                const li = document.createElement('li');
                li.innerHTML = res['name'];
                document.getElementById('lists').appendChild(li)
            
            })
            .catch(e => {
                document.getElementById('error').className=''
            })
        }

        const deletelist = document.querySelectorAll('.deletelist')
        for(let i = 0;i < deletelist.length;i++){
            const deleteButton=deletelist[i]
            deleteButton.addEventListener('click', (e) =>{
                e.preventDefault()
                const listId=e.target.dataset.id
                fetch(`/lists/${listId}/delete-list`,{
                    method:'DELETE'
                })
                .catch(e => {
                    document.getElementById('error').className = ''
                })
            })
            }
    </script>
</body>
</html>